<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width ">
	<title>keiziban from jQuery, Ajax, PHP, MySQL</title>
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script src="./keiziban.js"></script>
    <script src="./underscore-min.js"></script>
    <link rel="stylesheet" href="./style.css" type="text/css" />
</head>
<body>
<header id="header">
    <p>test</p>
</header>
<div id="done" style="background-color: lightgray;">
    <h1>掲示板</h1>
</div>
<div id="wrapper">
<div id="content">
<!-- ↑にDBから読み込んだものを追加していく -->
<script id="tpl" type="text/template">
	<p>NAME: <span style="border:1px solid gray;"><%- name %></span></p>
	<p>投稿: <span style="border:1px solid gray;"><%- value %></span></p>
<hr>
</script>
</div>
</div>
<hr>

<!-- 送信，リロード -->
<div id="sidebar">
    <form method="post">
        <p>name:<textarea id="name"></textarea></p>
        <p>value:<textarea id="value"></textarea></p>
        <p><input type="submit" id="send"><input type="button" id="reload" value="LOAD"></p>
</form>
</div>

</body>
</html>